.name {
    color: #b6bb79;
    text-decoration: underline;
    text-align: center;
}

body {
    background-color: #f3ebd8;
    color: #f297a0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links {
    position: center;
}

.me {
    color: #b6bb79;
}

.nomatter {
    color: #f9d0ce;
}

.photo {
    display: block;
    margin: 0 auto;
}

.pikmi {
    color: #f9d0ce;
}